
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .link:focus {
    outline: none;
    color: #af4ca8;
    background-color: transparent;
  }
  
  .link:hover {
    color: #6b46c1;
    background-color: #e2e8f0;
  }
  
  .link.active {
    color: #af4ca8;
    background-color: #e2e8f0;
  }
  
  

  #profile {
    /* position: relative; */
    /* font-size: 90px; */
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to fill the viewport */
  }
  
  .image-upload {
    margin: 1rem;
  }